<div class="container book-container">
  <h1>Editing Book</h1>

  <%= render 'form', book: @book %>
  <div class="btn-group">
    <%= link_to 'Edit',
                @book,
                type: 'button',
                class: 'btn btn-secondary btn-group-book'
    %>
    <%= link_to 'Back',
                books_path,
                type: 'button',
                class: 'btn btn-secondary btn-group-book'
    %>
  </div>

</div>
