<div class="container">

  <h1 class="my-4">Books
    <small>List of books added this week</small>
  </h1>
  <p id="notice"><%= notice %></p>
  <%= link_to 'New Book', new_book_path, type: 'button', class: 'btn btn-primary' %>
  <div class="row list-books">

    <% @books.each do |book| %>
      <%= render 'books/books_item',  book: book  %>
    <% end %>

  </div>
  <%= paginate @books %>
</div>